@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: "black" !important;
}
input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../src/assets/fonts/PlayfairDisplay-ExtraBoldItalic.ttf)
    format(truetype);
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url(../src/assets/fonts/Satoshi-Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url(../src/assets/fonts/Satoshi-Medium.ttf) format(truetype);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
